/* src/Login.css */

.app-container {
    @apply 
    relative 
    h-screen 
    bg-black 
    bg-[url('./img/bgimage.png')] 
    bg-no-repeat 
    bg-cover 
    bg-center 
    bg-fixed 
    flex 
    flex-col 
    justify-center 
    items-center
}

.header {
    @apply 
    sm:mx-auto 
    sm:w-full 
    sm:max-w-sm 
    text-3xl 
    absolute 
    top-[10px] 
    left-[10px] 
    flex 
    items-center 
    text-white
}

.logo {
    @apply 
    w-36 
    h-auto mr-3
}

.login-container {
    @apply 
    flex 
    justify-center 
    items-center 
    p-7 
    bg-slate-50 
    rounded-3xl 
    shadow-sm 
    m-12 
    w-auto 
    h-auto
}

.full-width-container {
    @apply 
    w-full
}

.login-box {
    @apply 
    text-center 
    w-auto
}

.login-title {
    @apply 
    mb-5 
    text-[#3E735B] 
    text-2xl
}

.login-box-text {
    @apply 
    my-2 
    text-xs 
    text-left 
    text-[#3E735B]
}

.login-input {
    @apply 
    w-full 
    p-1 
    my-2 
    border-b-[1px] 
    border-[#3E735B] 
    text-base 
    outline-none 
    bg-slate-50
}

.login-button {
    @apply
    w-full
    p-2
    my-5
    bg-[#3E735B]
    border-none
    rounded-3xl
    cursor-pointer
    text-base
}

.login-button a {
    @apply
    text-white
}

.login-button:hover {
    @apply 
    text-white
    bg-[#2C5C44] /* Slightly different shade for hover */
}

p {
    @apply 
    text-sm
}

a {
    @apply 
    text-[#3E735B]
}

a:hover {
    @apply 
    underline
}
