/* src/Sidebar.css */

.sidebar {
    @apply 
    bg-black 
    p-5 
    w-60 
    flex 
    flex-col 
    justify-start
}

.sidebar h1 {
    @apply 
    text-xl 
    mb-5 
    text-white 
    text-left
}

.management-title {
    @apply
    text-lg
    mb-2
    text-white
    italic
    underline
}

/*.sidebar nav ul {
    list-style: none;
    padding: 0;
}*/

.sidebar nav ul li {
    margin: 10px 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: text-decoration 0.3s, background-color 0.3s;
    @apply mt-2 p-2 rounded 
}

.sidebar nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1); /* Slight highlight on hover */
}

.sidebar nav ul li.active {
    font-weight: bold;
}
