.user-management-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #000000, #000000);
  }
  
  .sidebar {
    background-color: #34495e;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 10px 0;
  }
  
  .sidebar nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-welcome-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .welcome-message {
    color: #2c3e50;
  }
  
  .user-info {
    color: #2c3e50;
    text-align: right;
  }
  
  .user-management {
    background-color: white;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .add-user-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  
  .add-user-button:hover {
    background-color: #27ae60;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .user-table th {
    background-color: #34495e;
    color: white;
  }
  
  .user-table td {
    border-radius: 5px;
  }
  
  .user-table td button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  